<!DOCTYPE html>
<html>
    <body>
        <div>
            <p>Hi there,</p>
            <p>Below is the Galvan Rx Discount Prescription Savings Card you requested!</p>
            <p>Visit <a href="https://therxcard.net/HPBBJJ">https://therxcard.net/HPBBJJ</a> to find the lowest prices in your area and Start Saving Today!</p>
            <p><img src="https://therxcard.net/HPBBJJ/en/img/pharmacy-savings-card-front?mid={{id}}" alt="front" style="width: 450px;"></p>
            <p><img src="https://therxcard.net/HPBBJJ/en/img/pharmacy-savings-card-back?mid={{id}}" alt="back" style="width: 450px;"></p>                
            <p>If you cannot see the card image above, please present the following plan codes to the pharmacy:</p>
            <p>ID: {{ id }} Group: HPBBJJ BIN: 610711 PCN: SUN</p>
            <p>Happy Saving!</P>
            <p>Galvan Rx Discount</p>
        </div>
    </body>
</html>