<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <p>Great News! Your invite for {{ brand }} has been accepted and they have a New {{ brand }} Account!</p>
  <p>Thank you for sharing!</p>
  <p>{{ brand }} Support Team
  </p>
</body>

</html>